<div class="jumbotron text-center">
<h1>MEAN app for auth</h1>
<p class="lead"> Welcome to my first mean project, this is the complete authentication application. I feel it's very good for beginner</p>
<a class="btn btn-primary" [routerLink]="['/register']">Register</a> <a class="btn btn-secondary" [routerLink]="['/login']">Login</a>
</div>

<div class="row">
        <div class="col-md-4">
          <h2>Express Back End</h2>
          <p>A rock solid Node js/Express server using Mongoose to organize models and query the database </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Angular-CLI</h2>
          <p>Angular-CLI to generate components, service and more. Local dev server and easy compilation </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>JWT-Token</h2>
          <p>Full featured authentication using JSON web tokens. Login and store user data</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        </div>